body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
 background-image: url(/back/images.jpg);
 height: 100vh;
 background-repeat: no-repeat;
 background-size: cover;
   
}

.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #cccccc2c;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    text-align: center;
   
}

h1 {
    color: #333;
}

label {
    display: block;
    margin: 10px 0;
}

input {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#result {
    font-weight: bold;
    margin-top: 15px;
}